<article
  class="border border-zinc-900 flex flex-col gap-2 items-center justify-center p-4"
>
  @switch (practice.type) { @case ('word') { @if(showOrHide) {
  <div class="text-center">
    <h1 class="text-2xl font-bold">{{ practice.word }}</h1>
    <p class="text-sm">{{ practice.plural }}</p>
    <section class="flex gap-2 text-sm">
      <p>{{ practice.type[0].toUpperCase() + practice.type.slice(1) }}</p>
      <p>{{ practice.gender[0].toUpperCase() + practice.gender.slice(1) }}</p>
      <p>{{ practice.level }}</p>
    </section>
  </div>
  <p>{{ practice.definition }}</p>
  }@else {
  <h1 class="text-2xl font-bold">{{ practice.word }}</h1>
  } } @case ('verb'){
  <h1 class="text-2xl font-bold">{{ practice.verb }}</h1>
  @if(showOrHide) { @for(conjugation of practice.conjugations; track
  conjugation.id) {
  <verbs-conjugation
    [conjugation]="conjugation"
    [practice]="true"
  ></verbs-conjugation>
  } } } @case ('grammar'){ @if(showOrHide) {
  <div class="text-center">
    <h1 class="text-2xl font-bold">{{ practice.title }}</h1>
    <p class="text-sm">{{ practice.level }}</p>
  </div>
  <p class="px-4">{{ practice.body }}</p>
  <section class="flex flex-col gap-1 text-sm">
    @for(example of practice.examples; track example) {
    <p>{{ example }}</p>
    }
  </section>
  } @else {
  <h1 class="text-2xl font-bold">{{ practice.title }}</h1>
  } } @case ('phrase'){
  <div class="text-center flex flex-col gap-4">
    <section class="flex gap-2 text-sm">
      <p>{{ practice.topic }}</p>
      <p>{{ practice.level }}</p>
    </section>
    <section class="flex gap-1 flex-col">
      <h1 class="text-2xl font-bold">
        <img
          src="https://em-content.zobj.net/source/twitter/408/flag-germany_1f1e9-1f1ea.png"
          alt="Flag of Germany"
          class="inline-block w-5"
        />
        {{ practice.german }}
      </h1>
      @if(showOrHide) {
      <h1 class="text-2xl font-bold">
        <img
          src="https://em-content.zobj.net/source/twitter/408/flag-united-kingdom_1f1ec-1f1e7.png"
          alt="Flag of Germany"
          class="inline-block w-5"
        />
        {{ practice.english }}
      </h1>
      }
    </section>
  </div>
  } @default {
  <div>Unknown type</div>
  } }

  <stylized-button
    label="{{ showOrHide ? 'Hide' : 'Show' }} answer"
    (click)="showAnswer()"
  ></stylized-button>
</article>
