<app-card>
  @switch (practice.type) {
    <!-- WORD -->
    @case ("word") {
      @if (showOrHide) {
        <section card-header class="text-center">
          <h1 class="text-2xl font-bold">{{ practice.word }}</h1>
          <p class="text-sm">{{ practice.plural }}</p>
          <p class="text-sm">{{ practice.translation }}</p>

          <div class="flex gap-2 text-sm justify-center">
            <p class="capitalize">{{ practice.type }}</p>
            <p class="capitalize">{{ practice.gender }}</p>
            <p>{{ practice.level }}</p>
          </div>
        </section>

        <p class="text-center">
          {{ practice.definition }}
        </p>
      } @else {
        <h1 class="text-2xl font-bold text-center">
          {{ original ? practice.word : practice.translation }}
        </h1>
      }
    }

    <!-- VERB -->
    @case ("verb") {
      <section class="text-center">
        <h1 class="text-2xl font-bold">
          {{ practice.verb }}
        </h1>
      </section>

      @if (showOrHide) {
        <section class="flex flex-col gap-1 w-full">
          @for (conjugation of practice.conjugations; track conjugation.id) {
            <verbs-conjugation [conjugation]="conjugation" [practice]="true" />
          }
        </section>
      }
    }

    <!-- GRAMMAR -->
    @case ("grammar") {
      @if (showOrHide) {
        <section card-header class="text-center">
          <h1 class="text-2xl font-bold">
            {{ practice.title }}
          </h1>
          <p class="text-sm">{{ practice.level }}</p>
        </section>

        <section class="text-center px-4">
          <p>{{ practice.body }}</p>

          <div class="flex flex-col gap-1 text-sm pt-2">
            @for (example of practice.examples; track example) {
              <p>{{ example }}</p>
            }
          </div>
        </section>
      } @else {
        <h1 class="text-2xl font-bold text-center">
          {{ practice.title }}
        </h1>
      }
    }

    <!-- PHRASE -->
    @case ("phrase") {
      <section class="text-center flex flex-col gap-4">
        <div class="flex gap-2 text-sm justify-center">
          <p>{{ practice.topic }}</p>
          <p>{{ practice.level }}</p>
        </div>

        <div class="flex flex-col gap-2 items-center">
          <!-- Primary -->
          <h1 class="text-2xl font-bold flex items-center gap-2">
            <img
              [src]="
                original
                  ? 'https://em-content.zobj.net/source/twitter/408/flag-germany_1f1e9-1f1ea.png'
                  : 'https://em-content.zobj.net/source/twitter/408/flag-united-kingdom_1f1ec-1f1e7.png'
              "
              class="w-5"
            />

            {{ original ? practice.original : practice.translation }}
          </h1>

          <!-- Secondary -->
          @if (showOrHide) {
            <h1 class="text-2xl font-bold flex items-center gap-2">
              <img
                [src]="
                  original
                    ? 'https://em-content.zobj.net/source/twitter/408/flag-united-kingdom_1f1ec-1f1e7.png'
                    : 'https://em-content.zobj.net/source/twitter/408/flag-germany_1f1e9-1f1ea.png'
                "
                class="w-5"
              />

              {{ original ? practice.translation : practice.original }}
            </h1>
          }
        </div>
      </section>
    }

    @default {
      <p>Unknown type</p>
    }
  }

  <!-- ACTIONS -->
  <section card-actions>
    <stylized-button
      [label]="showOrHide ? 'Hide answer' : 'Show answer'"
      (click)="showAnswer()"
    />
  </section>
</app-card>
