<app-card>
  <div card-header class="flex gap-2 items-center justify-center">
    <img
      src="https://em-content.zobj.net/source/twitter/408/flag-germany_1f1e9-1f1ea.png"
      alt="Flag of Germany"
      class="inline-block w-5"
    />
    <h1 class="text-2xl font-bold">{{ word.word }}</h1>
  </div>
  <div card-header class="flex gap-2 items-center justify-center">
    <img
      src="https://em-content.zobj.net/source/twitter/408/flag-united-kingdom_1f1ec-1f1e7.png"
      alt="Flag of the United Kingdom"
      class="inline-block w-5"
    />
    <h1 class="text-2xl font-bold">{{ word.translation }}</h1>
  </div>
  <section card-header class="flex gap-2 text-sm items-center justify-center">
    <p>{{ word.plural[0].toUpperCase() + word.plural.slice(1) }}</p>
    <p>{{ word.type[0].toUpperCase() + word.type.slice(1) }}</p>
    <p>{{ word.gender[0].toUpperCase() + word.gender.slice(1) }}</p>
    <p>{{ word.level }}</p>
  </section>
  <stylized-link
    card-actions
    label="Update"
    [path]="'/words/update/' + word.id"
  ></stylized-link>
  <stylized-button
    card-actions
    label="Delete"
    (click)="confirmDelete()"
  ></stylized-button>
</app-card>
