<article
  class="border rounded-lg border-zinc-900 bg-zinc-950 shadow-md flex flex-col gap-2 items-center justify-center max-w-md p-4 hover:px-10 transition-all duration-300"
>
  <div class="text-center flex flex-col gap-2">
    <div class="flex gap-2 items-center justify-center">
      <img
        src="https://em-content.zobj.net/source/twitter/408/flag-germany_1f1e9-1f1ea.png"
        alt="Flag of Germany"
        class="inline-block w-5"
      />
      <h1 class="text-2xl font-bold">{{ word.word }}</h1>
    </div>
    <div class="flex gap-2 items-center justify-center">
      <img
        src="https://em-content.zobj.net/source/twitter/408/flag-united-kingdom_1f1ec-1f1e7.png"
        alt="Flag of the United Kingdom"
        class="inline-block w-5"
      />
      <h1 class="text-2xl font-bold">{{ word.translation }}</h1>
    </div>
    <section class="flex gap-2 text-sm items-center justify-center">
      <p>{{ word.plural[0].toUpperCase() + word.plural.slice(1) }}</p>
      <p>{{ word.type[0].toUpperCase() + word.type.slice(1) }}</p>
      <p>{{ word.gender[0].toUpperCase() + word.gender.slice(1) }}</p>
      <p>{{ word.level }}</p>
    </section>
  </div>
  <section class="flex items-center justify-center gap-2">
    <stylized-link
      label="Update"
      [path]="'/words/update/' + word.id"
    ></stylized-link>
    <stylized-button label="Delete" (click)="confirmDelete()"></stylized-button>
  </section>
</article>
