<form
  (ngSubmit)="onSubmit()"
  #grammarForm="ngForm"
  class="mx-auto w-full max-w-md bg-zinc-950 border border-zinc-800 rounded-xl p-6 flex flex-col gap-5"
>
  <!-- Title -->
  <div>
    <label for="title" class="block mb-1 text-sm font-medium text-zinc-400"
      >Title</label
    >
    <input
      type="text"
      name="title"
      placeholder="Sentence Structure"
      [(ngModel)]="form.title"
      class="input"
    />
  </div>

  <!-- Level -->
  <div>
    <label for="level" class="block mb-1 text-sm font-medium text-zinc-400"
      >Level</label
    >
    <select name="level" [(ngModel)]="form.level" class="input">
      <option selected value="" class="hidden">A1, A2...</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="B1">B1</option>
      <option value="B2">B2</option>
      <option value="C1">C1</option>
      <option value="C2">C2</option>
    </select>
  </div>

  <!-- Body -->
  <div>
    <label for="body" class="block mb-1 text-sm font-medium text-zinc-400"
      >Content</label
    >
    <input
      type="text"
      name="body"
      placeholder="Main clauses, also called independent clauses or declarative sentences..."
      [(ngModel)]="form.body"
      class="input"
    />
  </div>

  <!-- Examples -->
  <div>
    <label for="examples" class="block mb-1 text-sm font-medium text-zinc-400"
      >Examples (split with ',')</label
    >
    <textarea
      name="examples"
      placeholder="Die Tür hinter sich zumachen"
      [(ngModel)]="form.examplesInput"
      class="input"
    ></textarea>
  </div>

  <!-- Submit -->
  <button
    type="submit"
    [disabled]="!grammarForm.form.valid"
    class="mt-2 w-full rounded-lg bg-blue-600 hover:bg-blue-500 active:bg-blue-700 disabled:bg-zinc-800 disabled:text-zinc-500 transition-all py-2.5 font-medium"
  >
    Create grammar
  </button>
</form>
