<app-card>
  <div class="text-center pt-2">
    <section class="flex gap-2 text-sm">
      <p>{{ mood }}</p>
      <p>{{ tense }}</p>
    </section>
  </div>
  <ul class="grid grid-cols-3 gap-2">
    @for (form of conjugation.forms; track form) {
      <li class="text-sm text-center">{{ form }}</li>
    }
  </ul>
  @if (!practice) {
    <ng-container card-actions>
      <stylized-link
        label="Update"
        [path]="'/verbs/update/' + conjugation.id"
      ></stylized-link>
      <stylized-button
        label="Delete"
        (click)="confirmDelete()"
      ></stylized-button>
    </ng-container>
  }
</app-card>
