<div class="flex flex-col gap-6 items-center">
  <stylized-link label="Add Conjugation" path="/verbs/create"></stylized-link>
  <!-- List of verbs -->
  <main>
    <ul class="flex flex-wrap gap-4 items-center justify-center">
      @for (verb of paginator.data; track verb.id) {
        <li>
          <verbs-card [verb]="verb"></verbs-card>
        </li>
      }
    </ul>

    @if (paginator.nextCursor) {
      <button (click)="paginator.load()">Load more</button>
    }
  </main>
</div>
