<article
  class="border rounded-lg border-zinc-900 bg-zinc-950 shadow-md flex flex-col gap-2 items-center justify-center max-w-md p-4 hover:px-10 transition-all duration-300"
>
  <section class="flex items-center justify-between w-full">
    <h1 class="text-2xl font-bold px-2">{{ verb.verb }}</h1>
    <stylized-button label="Delete" (click)="confirmDelete()"></stylized-button>
  </section>
  @for (conjugation of verb.conjugations; track conjugation.id) {
    <verbs-conjugation [conjugation]="conjugation"></verbs-conjugation>
  }
</article>
