<app-card>
  <section card-header>
    <h1 class="text-2xl font-bold pt-2">{{ topic.title }}</h1>
    <p class="text-sm">{{ topic.level }}</p>
  </section>
  <section>
    <p class="px-4 text-center">{{ topic.body }}</p>
    <section class="flex flex-col gap-1 text-sm">
      @for (example of topic.examples; track example) {
        <p>{{ example }}</p>
      }
    </section>
  </section>
  <section card-actions>
    <stylized-link
      label="Update"
      [path]="'/grammar/update/' + topic.id"
    ></stylized-link>
    <stylized-button
      label="Delete"
      (click)="confirmDelete()"
    ></stylized-button></section
></app-card>
