<form
  (ngSubmit)="onSubmit()"
  #phrasesForm="ngForm"
  class="flex flex-col gap-4 mx-auto items-center justify-center"
>
  <div>
    <label for="topic" class="block text-sm font-medium text-zinc-400"
      >Topic</label
    >
    <input
      type="text"
      name="topic"
      placeholder="Tür"
      [(ngModel)]="form.topic"
      class="bg-zinc-900 px-2 py-1 w-60 focus:w-72 transition-all duration-300"
    />
  </div>
  <div>
    <label for="level" class="block text-sm font-medium text-zinc-400"
      >Level</label
    >
    <select
      name="level"
      [(ngModel)]="form.level"
      class="bg-zinc-900 px-2 py-1 w-60 focus:w-72 transition-all duration-300"
    >
      <option selected value="" class="hidden">A1, A2...</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="B1">B1</option>
      <option value="B2">B2</option>
      <option value="C1">C1</option>
      <option value="C2">C2</option>
    </select>
  </div>
  <div>
    <label for="german" class="block text-sm font-medium text-zinc-400"
      >German</label
    >
    <input
      type="text"
      name="german"
      placeholder="Vorrichtung in Form einer in Scharnieren hängenden"
      [(ngModel)]="form.german"
      class="bg-zinc-900 px-2 py-1 w-60 focus:w-72 transition-all duration-300"
    />
  </div>
  <div>
    <label for="english" class="block text-sm font-medium text-zinc-400"
      >English</label
    >
    <input
      type="text"
      name="definition"
      placeholder="Vorrichtung in Form einer in Scharnieren hängenden"
      [(ngModel)]="form.english"
      class="bg-zinc-900 px-2 py-1 w-60 focus:w-72 transition-all duration-300"
    />
  </div>
  <button
    type="submit"
    [disabled]="!phrasesForm.form.valid"
    class="bg-zinc-900 hover:bg-blue-500 active:bg-blue-700 hover:font-semibold transition-all duration-300 py-2 px-4 hover:px-6 text-center"
  >
    Update
  </button>
</form>
