<form
  (ngSubmit)="onSubmit()"
  #verbForm="ngForm"
  class="mx-auto w-full max-w-md bg-zinc-950 border border-zinc-800 rounded-xl p-6 flex flex-col gap-5"
>
  <!-- Tense -->
  <div>
    <label for="tense" class="block mb-1 text-sm font-medium text-zinc-400"
      >Tense</label
    >
    <select name="tense" [(ngModel)]="form.tense" class="input">
      <option selected value="" class="hidden">Present, Simple Past...</option>
      <option value="present">Present</option>
      <option value="simple_past">Simple Past</option>
      <option value="present_perfect">Present Perfect</option>
      <option value="past_perfect">Past Perfect</option>
      <option value="future_1">Future I</option>
      <option value="future_2">Future II</option>
    </select>
  </div>

  <!-- Mood -->
  <div>
    <label for="mood" class="block mb-1 text-sm font-medium text-zinc-400"
      >Mood</label
    >
    <select name="mood" [(ngModel)]="form.mood" class="input">
      <option selected value="" class="hidden">
        Indicative, Subjunctive...
      </option>
      <option value="indicative">Indicative</option>
      <option value="subjunctive_1">Subjunctive I</option>
      <option value="subjunctive_2">Subjunctive II</option>
      <option value="imperative">Imperative</option>
      <option value="infinitive">Infinitive</option>
      <option value="participle">Participle</option>
    </select>
  </div>

  <!-- Forms -->
  <div>
    <label for="forms" class="block mb-1 text-sm font-medium text-zinc-400"
      >Forms (split with ',')</label
    >
    <textarea
      name="forms"
      placeholder="Gehe,gehst,geht..."
      [(ngModel)]="form.formsInput"
      class="input"
    ></textarea>
  </div>

  <!-- Submit -->
  <button
    type="submit"
    [disabled]="!verbForm.form.valid"
    class="mt-2 w-full rounded-lg bg-blue-600 hover:bg-blue-500 active:bg-blue-700 disabled:bg-zinc-800 disabled:text-zinc-500 transition-all py-2.5 font-medium"
  >
    Update verb
  </button>
</form>
