@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #18181b inset !important; /* zinc-900 */
  -webkit-text-fill-color: white !important;
}

.input {
  @apply w-full rounded-lg bg-zinc-900 border border-zinc-800 px-3 py-2 text-sm text-zinc-100
           placeholder:text-zinc-500
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
           transition;
}
