<article
  class="border rounded-lg border-zinc-900 bg-zinc-950 shadow-md flex flex-col gap-2 items-center justify-center max-w-md p-4"
>
  <header class="text-center flex flex-col gap-1">
    <ng-content select="[card-header]"></ng-content>
  </header>

  <section
    class="px-4 text-center flex flex-col gap-2 items-center justify-center"
  >
    <ng-content></ng-content>
  </section>

  <footer class="flex flex-row items-center justify-center gap-2">
    <ng-content select="[card-actions]"></ng-content>
  </footer>
</article>
